.content {
    margin: auto;
    width: 500px;
}
.name {
    width: 281px;
    cursor: pointer;
    max-width: 300px;
    word-break: break-all;
    text-align: left;
}
.input {
    height: 25px;
}
.table th, tr {
    text-align: center;
    table-layout: fixed;
}
.table {
    max-height: 420px;
    display: block;
    overflow: auto;
}
a {
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
